<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eBankingMavenProject">

<listeners>
    <listener class-name="com.ebanking.utilities.Reporting"></listener>
</listeners>

 <test thread-count="5" name="BankingAppTest">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="com.ebanking.testcases.TC001_LoginTest"/>
  <!-- 
       <class name="com.ebanking.testcases.TC002_LoginDDT"/>
       <class name="com.ebanking.testcases.TC003_AddCustomer"/>-->
    </classes>
  </test> <!-- BankingAppTest -->
</suite> <!-- eBankingMavenProject -->
